<h2 class="form-title">Edit Ship</h2>
<div class="col-md-4">
<%= form_for(@ship, :html=> {:multipart => true}, :class => "form-horizontal") do |f| %>
	<%= f.file_field :avatar %>
	<%= f.text_field :name, placeholder: "Name", :class => "form-control" %>
	<%= f.text_field :length, placeholder: "Length", :class => "form-control" %>
	<%= f.text_field :ship_type, placeholder: "Ship Type", :class => "form-control" %>
	<%= f.text_field :container_no, placeholder: "Containers", :class => "form-control" %>
	<%= f.select(:location, [['Port Royal'], ['Tortuga'], ['St.Marys Island'], ['Clew Bay'], ['New Providence'], ['Barataria Bay']], :class => "form-control") %><br>
	<%= f.submit "Update Ship", :class => "btn btn-primary" %>
<% end %>
</div>
